@font-face {
    font-family: 'DS Icons CRM3';
    src: url('./DSIcons-CRM3/DSIcons-CRM3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Generic Styles */

body {
    box-sizing: border-box;
    background-color: #DFE3E7;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.icon {
    font-family: 'DS Icons CRM3';
    font-size: 20px;
    color: #88929C;
}

.header,
.actions,
.grid {
    margin-top: 60px;
}

/* Navigation */

.nav {
    background-color: #fff;
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.circle {
    background-color: black;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .icon {
    color: #FFFFFF;
    font-size: 24px;
}

/* Actions */

.actions {
    background-color: #fff;
    align-content: center;
    height: 84px;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.action {
    display: flex;
    background-color: #DFE3E7;
}

.action-left {
    padding: 8px 8px 8px 16px;
    border-radius: 20px 0px 0px 20px;
}

.action-right {
    padding: 8px 16px 8px 12px;
    border-radius: 0px 20px 20px 0px;
}

.actions p {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    align-content: center;
}

/* Grid */

.grid {
    padding: 24px;
    background-color: #fff;
    width: fit-content;
    margin: 60px auto;
}

table {
    text-align: right;
    background-color: #DFE3E7;
    border-collapse: collapse;
    margin: auto;
}

thead {
    border-top: 1px solid black;
    font-weight: bold;
}

thead,
tbody {
    background-color: #fff;
}

thead tr,
tbody tr {
    border-bottom: 1px solid #C1C7CF;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 8px;
}

td,
th {
    padding: 7.5px;
    background-color: #fff;
    align-content: flex-start;
}

td p,
th p {
    align-content: flex-start;
}

td:first-child,
th:first-child {
    display: flex;
    gap: .5px;
    text-align: left;
}

/* Fields Styles */

.fields {
    background-color: #fff;
    margin: 60px auto;
    padding: 24px;
    max-width: 700px;
}

.field {
    display: grid;
    grid-template-columns: 3fr auto auto;
    gap: 20px;
    padding: 12px 0;
}

.field-content,
.icons {
    display: flex;
}

.field-content {
    gap: 4px;
}

.field-content p {
    align-content: center;
}

.field-title {
    font-weight: 600;
    font-size: 20px;
}

.field-date {
    padding-top: 4px;
}

.field span {
    color: #6F7882;
    font-weight: 400;
    font-size: 16px;
}

.field .icon {
    color: #6F7882;
    font-weight: 400;
    font-size: 24px;
}

.fields .field:nth-child(-n+2) {
    border-bottom: 1px solid #C1C7CF;
}

.icons> :first-child {
    color: #0079D1;
}